/* Fonts */
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap);


/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Montserrat" ,"Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px; 
  background-color: #f7f7fe;
  background-image: url("../images/lines-bg-2.svg"),
                    url("../images/lines-bg.svg");
  background-repeat: no-repeat;
  background-position: left bottom, right top;
  color: #6e728e;
}

img {
  max-width: 100%;
  height: auto;
}


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1100px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}


/* Button */
.button {
  display: inline-block;
  padding: 14px;
  border: 1px solid transparent;
  margin: 0;
  background-color: transparent;
  font-size: 13px;
  line-height: normal;
  letter-spacing: 1.4;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color .3s ease,
              color .3s ease;
}

.button-block {
  display: block;
  width: 100%;
}

.button-primary {
  background-color: #696EDD;
  background-image: linear-gradient(135deg, #A2A7F0 0%, #696EDD 100%);
  color: #fff;
}

.button-primary:hover {
  border-color: #696EDD;
  background-color: #fff;
  background-image: none;
  color: #696EDD;
}

.button-white {
  background-color: #fff;
  color: #696EDD;
}

.button-white:hover {
  border-color: #fff;
  background-color: transparent;
  color: #fff;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px;
  padding-bottom: 70px;
}

.page-title {
  margin-top: 0;  
  font-size: 32px;
  line-height: normal;
}

.pricing {
  width: 100%;
}

.pricing-inner {
  display: flex;
  align-items: center;
}

.pricing-plan {
  flex-grow: 1;
  max-width: 350px;
  padding: 32px;
  text-align: center;
  background-color: #fff;
}

.pricing-plan-best {
  padding-top: 55px;
  padding-bottom: 55px;
  border-radius: 10px;
  background-color: #696EDD;
  background-image: linear-gradient(135deg, #A2A7F0 0.05%, #696EDD 100.05%);
  color: #fff;
}

.pricing-plan-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 28px;
}

.pricing-plan-price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 72px;
  line-height: 71px;
  white-space: nowrap;
}

.pricing-plan-currency {
  font-size: 40px;
  line-height: 40px;
  margin-right: 8px;
}

.pricing-plan-features {
  padding: 0;
  border-top: 1px solid rgba(110, 114, 142, 0.25);
  margin: 0;
  margin-bottom: 32px;
  list-style: none;
}

.pricing-plan-best .pricing-plan-features {
  border-color: rgba(255,255,255,0.2);
}

.pricing-plan-featurs {
  padding: 12px;
}

.pricing-plan-featurs:not(:first-child) {
  border-top: 1px solid rgba(110, 114, 142, 0.25);
}


.pricing-plan-best .pricing-plan-featurs {
  border-color: rgba(255,255,255,0.2);
}